p {
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  margin: 5px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
